<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.offscript.feed-refresh</string>
		<string>com.offscript.background-transcription</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.offscript.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>offscript</string>
			</array>
		</dict>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>OffScript can generate transcripts on-device for episodes that don't ship one. Audio never leaves your phone.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-Variable.ttf</string>
		<string>PlayfairDisplay-Italic-Variable.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleAudio</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>OffScriptCarPlay</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
